[Unit]
Description=Palava Signal Tower
After=network.target

[Service]
Type=simple
User=plv
Group=plv
WorkingDirectory={{ palava_signaltower_install_dir }}/
ExecStart=/usr/bin/elixir --sname signaltower -S mix run --no-halt
Restart=on-failure
Type=forking
RestartSec=5
Environment=SIGNALTOWER_PORT=4250
Environment=LOG_FILE={{ palava_signaltower_log_dir }}/signaltower.log
SyslogIdentifier=signaltower

[Install]
WantedBy=multi-user.target