[Unit]
Description=Palava Signal Tower
After=network.target

[Service]
Type=simple
User={{ palava_user }}
Group={{ palava_group }}
WorkingDirectory={{ palava_signaltower_install_dir }}/
ExecStart={{ palava_signaltower_install_dir }}/_build/prod/rel/{{ palava_environment }}/bin/{{ palava_environment }} daemon
ExecStop={{ palava_signaltower_install_dir }}/_build/prod/rel/{{ palava_environment }}/bin/{{ palava_environment }} stop
Restart=on-failure
Type=forking
RestartSec=5
Environment=SIGNALTOWER_PORT={{ palava_signaltower_port }}
Environment=LOG_FILE={{ palava_signaltower_log_dir }}/signaltower.log
SyslogIdentifier=signaltower

[Install]
WantedBy=multi-user.target